/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
:root {
  --bg-blue: #16a2ff;
}
thead tr th {
  font-weight: 600;
}
tbody td {
  text-align: center;
}
tbody tr {
  font-size: 1rem;
}
.contract-table {
  overflow-x: auto;
  overflow-y: scroll;
  height: 500px;
}
.error-field {
  color: red;
}
.error-form {
  border: 1px solid red;
}
.valid-form {
  border: 1px solid blue;
}

@media (min-width: 1200px) {
  tbody tr {
    font-size: 1rem;
  }
  .selector-view-btn {
    font-size: 0.9rem;
  }
  .selector-update-btn {
    font-size: 0.9rem;
  }
  .selector-delete-btn {
    font-size: 0.9rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  tbody tr {
    font-size: 12px;
  }
  .selector-view-btn {
    font-size: 12px;
  }
  .selector-update-btn {
    font-size: 12px;
  }
  .selector-delete-btn {
    font-size: 12px;
  }
}
@media (max-width: 899px) {
  tbody tr {
    font-size: 10px;
  }
  .selector-view-btn {
    font-size: 10px;
  }
  .selector-update-btn {
    font-size: 10px;
  }
  .selector-delete-btn {
    font-size: 10px;
  }
}
